/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg: #f5f5f5;
  --card: #ffffff;
  --text: #222;
  --primary: #4f46e5;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 16px 30px;
  background: var(--card);
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
}

.nav-links a:hover {
  color: var(--primary);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
